#bookAppointment {
    background-color: #526D82;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 65%;
    margin-left: 20%;
}
#bookAppointment .form_group {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 10%;
}
#bookAppointment label {
    margin-right: 10px;
    width: 120px; 
}

#bookAppointment input,
#bookAppointment textarea,#bookAppointment select {
    width: 60%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#bookAppointment input[type="submit"] {
    background-color: #74E291;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 20%;
    flex: none;
}
#cancel{
    background-color: #E14D2A;
    width: 20% !important;
    flex: none;
    margin-right: 10%;
    color: #fff;
    cursor: pointer;
}
#buttons{
    margin-left: 30% !important;
    margin-top: 5%;
}

#bookAppointment .errorMsg {
    color: red;
    margin-top: 5px;
    margin-left: 10px;
}
