.doctorContainer {
    display: grid;
    grid-template-columns: 15% 3fr;
    gap: 20px;
  }
  
  /* Main data styles */
  #doctorData {
    padding: 20px;
    background-color: #526d82;
    border-top-right-radius: 10px; /* Add curve to top right corner */
    border-bottom-right-radius: 10px; /* Add curve to bottom right corner */
  }
  
  /* Table styles */
  .doctor_custom_table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .doctor_custom_table th,
  .doctor_custom_table td {
    padding: 8px;
    text-align: left;
  }
  .doctor_custom_table tr {
    border-radius: 10px; /* Add curve to table rows */
  }
  
  .doctor_custom_table tr:nth-child(odd) {
    background-color: #DDE6ED; /* Alternate row color for odd rows */
    border-radius: 10px; /* Add curve to rows */
  }
  
  .doctor_custom_table tr:nth-child(even) {
    background-color: #B6BBC4; /* Alternate row color for even rows */
    border-radius: 10px; /* Add curve to rows */
  }

  #doctor_cancel_button{
    background-color: #F28585;
    border-radius: 20px;
    color: black;
    font-weight: bold;
  }
  