/* PatientDashboard.css */

/* Main container */
.patientContainer {
  display: grid;
  grid-template-columns: 15% 3fr;
  gap: 20px;
}

/* Navbar styles */
#pateintNavBar {
  background-color: #526d82;
  padding: 20px;
  height: 70vh;
  border-top-left-radius: 10px; /* Add curve to top left corner */
  border-bottom-left-radius: 10px; /* Add curve to bottom left corner */
}

#pateintNavBar nav ul {
  list-style-type: none;
  padding: 0;
}

#pateintNavBar nav ul li {
  margin-bottom: 25px;
}

#pateintNavBar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Main data styles */
#patientData {
  padding: 20px;
  background-color: #526d82;
  border-top-right-radius: 10px; /* Add curve to top right corner */
  border-bottom-right-radius: 10px; /* Add curve to bottom right corner */
}

/* Table styles */
.patient-custom-table {
  width: 100%;
  border-collapse: collapse;
}

.patient-custom-table th,
.patient-custom-table td {
  padding: 8px;
  text-align: left;
}
.patient-custom-table tr {
  border-radius: 10px; /* Add curve to table rows */
}

.patient-custom-table tr:nth-child(odd) {
  background-color: #DDE6ED; /* Alternate row color for odd rows */
  border-radius: 10px; /* Add curve to rows */
}

.patient-custom-table tr:nth-child(even) {
  background-color: #B6BBC4; /* Alternate row color for even rows */
  border-radius: 10px; /* Add curve to rows */
}

/* .patient-custom-table tr:hover {
  background-color: #f0f0f0;
} */
