/* AdminDashboard.css */

/* Main container */
.adminContainer {
    display: grid;
    grid-template-columns: 15% 3fr;
    gap: 20px;
  }
  
  /* Navbar styles */
  #adminNavBar {
    background-color: #526d82;
    padding: 20px;
    height: 70vh;
    border-top-left-radius: 10px; /* Add curve to top left corner */
    border-bottom-left-radius: 10px; /* Add curve to bottom left corner */
  }
  
  #adminNavBar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  #adminNavBar nav ul li {
    margin-bottom: 25px;
  }
  
  #adminNavBar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  /* Main data styles */
  #adminData {
    padding: 20px;
    background-color: #526d82;
    border-top-right-radius: 10px; /* Add curve to top right corner */
    border-bottom-right-radius: 10px; /* Add curve to bottom right corner */
  }
  
  /* Table styles */
  .admin-custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-custom-table th,
  .admin-custom-table td {
    padding: 8px;
    text-align: left;
  }
  .admin-custom-table tr {
    border-radius: 10px; /* Add curve to table rows */
  }
  
  .admin-custom-table tr:nth-child(odd) {
    background-color: #DDE6ED; /* Alternate row color for odd rows */
    border-radius: 10px; /* Add curve to rows */
  }
  
  .admin-custom-table tr:nth-child(even) {
    background-color: #B6BBC4; /* Alternate row color for even rows */
    border-radius: 10px; /* Add curve to rows */
  }

  #admin-cancel-button{
    background-color: #F28585;
    border-radius: 20px;
    color: black;
    font-weight: bold;
  }
  
  /* .admin-custom-table tr:hover {
    background-color: #f0f0f0;
  } */
  